<center>
  <h2>Sweater Weather API</h2>
  <p>Welcome to the Sweater Weather API.</p>
  <p>Please see 
    <a href="https://documenter.getpostman.com/view/11306597/TVCiV7aF">Postman Documentation</a> 
    for endpoint information.</p>
  <p>Thanks!</p>
</center>